<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 自动扫描StarZou包 ,将带有注解的类 纳入spring容器管理 -->


    <context:component-scan base-package="com.cmiot.jsuws.wsb"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <!--<value>classpath*:application.properties</value>-->
                <value>file:${jsuws.config.path}</value>
            </list>
        </property>
    </bean>

    <bean id="springContextUtil" class="com.cmiot.jsuws.wsb.spring.SpringContextUtils" lazy-init="false"></bean>

</beans>
